PORT=3000
DATABASE_URL=postgresql://neondb_owner:***@ep-ancient-heart-alj3nj6t-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
ACCESS_TOKEN_SECRET=super-secret
REFRESH_TOKEN_SECRET=super-secret-refresh

EMAIL_USER=example@gmail.com
EMAIL_PASS=password
OSM_API_URL=https://nominatim.openstreetmap.org
